<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css' }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% endblock %}  <!--use by {{ super() }}-->
</head>
<body dir="rtl">
    <header class="header">
        <h2><a href="#">فروشگاه فلان</a></h2>
        <div class="navButtons">
            <a href="#"><i class="material-icons md-dark">admin_panel_settings</i>مدیریت</a>
            <a href="#"><i class="material-icons">shopping_cart</i>سبد خرید</a>
        </div>
    </header>
    <nav></nav>
    {% block body %}{% endblock %}
</body>
</html>