<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" href="checkout.css">
    <title>Online shopping</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between bg-light bd-navbar">
        <div>
            <a class="navbar-brand" href="#">
                <div class="d-inline-flex">
                    <img src="empty.jpg" width="50" height="50" class="d-inline-block align-top" alt="">
                    <h1 class="font-weight-bold mar">فروشگاه آنلاین</h1>

                </div>
            </a>
        </div>

        <div class="buttons">

            <button type="button" class="btn btn-outline-primary"
                onclick="document.getElementById('id01').style.display='block'" style="width:auto;">
                مدیریت
            </button>

            <div id="id01" class="modal">

                <form class="modal-content animate" action="/action_page.php" method="post">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close"
                            title="Close Modal">&times;</span>
                        <img src="empty.jpg" alt="Avatar" class="avatar">
                    </div>

                    <h1>ورود به پنل مدیریت فروشگاه آنلاین</h1>

                    <div class="container">
                        <label for="uname"><b>نام کاربری</b></label>
                        <input type="text" name="uname" required>

                        <label for="psw"><b>رمز عبور</b></label>
                        <input type="password" name="psw" required>

                        <button class="modallogin" type="submit">ورود</button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> من را به خاطر بسپار
                        </label>
                    </div>

                    <div class="container d-flex justify-content-between" style="background-color:#f1f1f1">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'"
                            class="btn btn-outline-danger">بازگست به سایت</button>
                        <span class="psw"><a href="#">رمز را فراموش کردید؟</a></span>
                    </div>
                </form>
            </div>
            <button type="button" class="btn btn-outline-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z">
                    </path>
                </svg>
                سبد خرید
                <span id="buyCount" class="badge bg-danger"></span>
            </button>

        </div>

    </nav>

    <hr>

    <div class="d-flex justify-content-center mt-5">
        <div class="col col-7">
            <h1>نهایی کردن خرید</h1><br>
            <div class="row">
                <div class="col">
                    <label for="fname"><b>نام:</b></label>
                    <input type="text" name="fname" required><br><br>
                    <label for="adress"><b>آدرس:</b></label>
                    <input type="text" class="form-control" id="adress" placeholder="استان، شهر، خیابان، کوچه، پلاک"
                        required><br><br>
                    <label for="deliverDate"><b>تاریخ تحویل:</b></label><br>
                    <!-- <input type="text" name="deliverDate"><br> -->
                    <div class="col-12">
                        <input class="form-control" type="date" value="2011-08-19">
                    </div>
                </div>
                <div class="col">
                    <label for="lname"><b>نام خانوادگی:</b></label>
                    <input type="text" name="lname" required><br><br>
                    <div class="d-inline-flex">
                        <label for="phoneNumber"><b>تلفن همراه:</b></label>
                        <p class="font-weight-light mx-4">جهت هماهنگی ارسال سفارش</p>
                    </div>
                    <input type="text" name="phoneNumber" required>
                </div>
            </div><br><br>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-success px-5"><b>ثبت تهایی سفارش</b></button>
            </div>
        </div>
    </div>

</body>
<script src="checkout.js"></script>

</html>