<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="product.css">
    <title>Online shopping</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between bg-light ">
        <div class="buttons">
            <button type="button" class="btn btn-outline-primary">
                <span class="badge bg-danger">14</span>
                سبد خرید
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z">
                    </path>
                </svg>
            </button>
            <button type="button" class="btn btn-outline-primary"
                onclick="document.getElementById('id01').style.display='block'" style="width:auto;">
                مدیریت
            </button>
            <div id="id01" class="modal">

                <form class="modal-content animate" action="/action_page.php" method="post">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close"
                            title="Close Modal">&times;</span>
                        <img src="empty.jpg" alt="Avatar" class="avatar">
                    </div>

                    <h1>ورود به پنل مدیریت فروشگاه آنلاین</h1>

                    <div class="container">
                        <label for="uname"><b>نام کاربری</b></label>
                        <input type="text" name="uname" required>

                        <label for="psw"><b>رمز عبور</b></label>
                        <input type="password" name="psw" required>

                        <button class="modallogin" type="submit">ورود</button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> من را به خاطر بسپار
                        </label>
                    </div>

                    <div class="container" style="background-color:#f1f1f1">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'"
                            class="btn btn-outline-danger">بازگست به سایت</button>
                        <span class="psw"><a href="#">رمز را فراموش کردید؟</a></span>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a class="navbar-brand" href="#">
                <div class="d-inline-flex">
                    <h1 class="font-weight-bold mar">فروشگاه آنلاین</h1>
                    <img src="empty.jpg" width="50" height="50" class="d-inline-block align-top" alt="">
                </div>
            </a>
        </div>
    </nav>

    <hr>

    <div class="row">
        <div class="col col-10">
            <div class="col firstProduct" id="main">
                <div class="m-3">
                    <div class="d-flex justify-content-end mx-4"><a href="">
                            <h1>کالاهای گروه لبنیات</h1>
                        </a></div>
                    <div class="card-group">
                        <div class="card m-4 border border-primary rounded">
                            <img class="card-img-top" src="empty.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">قیمت</small>
                                <!-- <a href="#" class="stretched-link"></a> -->
                            </div>
                        </div>
                        <div class="card m-4 border border-primary rounded">
                            <img class="card-img-top" src="empty.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to
                                    additional content.
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">قیمت</small>
                                <!-- <a href="#" class="stretched-link"></a> -->
                            </div>
                        </div>
                        <div class="card m-4 border border-primary rounded">
                            <img class="card-img-top" src="empty.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This card has even longer content than the first to show that
                                    equal height
                                    action.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">قیمت</small>
                                <!-- <a href="#" class="stretched-link"></a> -->
                            </div>
                        </div>
                        <div class="card m-4 border border-primary rounded">
                            <img class="card-img-top" src="empty.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This card has even longer content than the first to show that
                                    equal height
                                    action.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">قیمت</small>
                                <!-- <a href="#" class="stretched-link"></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-2  border border-dark border-bottom-0 border-top-0 border-right-0">
            <ul class="list-unstyled">
                <li><a href="">first product</a>
                    <ul>
                        <li><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                    </ul>
                </li>
                <li><a href="">second product</a>
                    <ul>
                        <li><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

</body>
<script src="product.js"></script>

</html>