{% extends "blog/base.html" %}
{% block badge %}<span id="buyCount" class="badge bg-danger">{{ badge_num }}</span>{% endblock %}
{% block body %}
    <div class="d-flex flex-column p-5">
        <h4>سبد خرید</h4><br><br>
        <div class="d-flex justify-content-center">
            <div class="col-8">
                <table class="table table-striped" id="order_table">
                    <thead style="background-color: lightgray;">
                    <tr>
                        <th style="width: 70%;">کالا</th>
                        <th>قیمت</th>
                        <th>تعداد</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <th>
                                <a href="{{ url_for('store.product', product_id=order.product["_id"]) }}">{{ order.product.name }}</a>
                            </th>
                            <td class="price">{{ order.product.price }}</td>
                            <td class="numbers">{{ order.number }}</td>
                            <td>
                                <button type="button" class="btn btn-outline-secondary" id="{{ order.product["_id"] }}"
                                        data-order-id="{{ order.product.id }}">حذف
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row justify-content-between">
                    <div class="col-4 d-inline-flex"><h3>جمع:</h3><h4 class="mx-4"
                                                                      id="products_sum">{{ total_price }}</h4></div>
                    <div class="col col-3"><a href="{{ url_for('store.cart_approve') }}">
                        <button type="button" class="btn btn-outline-success w-100">نهایی کردن سبد خرید</button>
                    </a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='blog/cart.js') }}"></script>{% endblock %}