{% extends "blog/base.html" %}
{% block body %}
    <div class="d-flex justify-content-center mt-5">
        <div class="col col-7">
            <h1>نهایی کردن خرید</h1><br>
            <div class="row">
                <div class="col">
                    <label for="first_name"><b>نام:</b></label>
                    <input type="text" name="f_name" id="first_name" required><br><br>
                    <label for="address"><b>آدرس:</b></label>
                    <input type="text" class="form-control" id="address" placeholder="استان، شهر، خیابان، کوچه، پلاک"
                        required><br><br>
                    <label for="date"><b>تاریخ تحویل:</b></label><br>
                    <!-- <input type="text" name="deliverDate"><br> -->
                    <div class="col-12">
                        <input class="form-control" type="date" id="date">
                    </div>
                </div>
                <div class="col">
                    <label for="last_name"><b>نام خانوادگی:</b></label>
                    <input type="text" name="l_name" id="last_name" required><br><br>
                    <div class="d-inline-flex">
                        <label for="phoneNumber"><b>تلفن همراه:</b></label>
                        <p class="font-weight-light mx-4">جهت هماهنگی ارسال سفارش</p>
                    </div>
                    <input type="text" name="phoneNumber" id="phoneNumber" required>
                </div>
            </div><br><br>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-success px-5" id="finalizing"><b>ثبت تهایی سفارش</b></button>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}<script src="{{ url_for('static', filename='blog/cart_approve.js') }}"></script>{% endblock %}