{% extends 'blog/base.html' %}
{% block badge %}<span id="buyCount" class="badge bg-danger">{{ badge_num }}</span>{% endblock %}
{% block body %}
    <div class="content m-3 row">
        {% for category in categories %}
            <div class="{{ category.single_category }} mx-4"><a
                    href="{{ url_for('store.category', category_name=category.single_category) }}">
                <h1>کالا های گروه {{ category.single_category }}</h1></a></div>
            <div class="d-flex flex-row">
                {% for product in category.products %}
                    <div class="col col-3">
                        <a href="{{ url_for('store.product', product_id=product._id) }}">
                            <div class="card m-4 border border-primary rounded">
                                {% if product.image %}
                                    <img class="card-img-top" src="{{ product.image }}"
                                         alt="{{ product.name }}">
                                {% else %}
                                    <img class="card-img-top" src="../../static/images/empty.jpg"
                                         alt="{{ product.name }}">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title text-truncate">{{ product.name }}</h5>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div><small class="text-muted">{{ product.price }} تومان</small></div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div><br><br>
{% endblock %}