<!doctype html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"  type="image/gif" sizes="32x32">
    {% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/main.css') }}">
    {% endblock %}
    <script src="https://kit.fontawesome.com/f46e782d84.js" crossorigin="anonymous"></script>
</head>
<body dir="rtl">
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a href="" class="navbar-brand col-md-3 me-0 px-3">مدیریت فروشگاه</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{{ url_for('admin.logout') }}">خروج</a>
        </li>
    </ul>
</header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('admin.admin_orders') }}">
                                <i class="fas fa-dolly"></i>
                                سفارش ها
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.admin_quantity') }}">
                                <i class="fas fa-shopping-cart"></i>
                                موجودی و قیمت ها
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.admin_warehouse') }}">
                                <i class="fas fa-warehouse"></i>
                                انبارها
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.admin_product') }}">
                                <i class="fab fa-product-hunt"></i>
                                کالاها
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="d-flex col-md-9 ms-sm-auto px-md-4">
                <div class="container">
                    {% block content %}{% endblock %}
                </div>
            </main>
        </div>
    </div>
    {% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
</body>
</html>