{% extends 'admin/base.html' %}
{% block content %}
<h2 class="mt-5">مدیریت سفارش ها</h2>
<table class="col table table-striped mt-4">
    <thead>
        <tr>
            <th>
                نام کاربری
            </th>
            <th>
                مجموع مبلغ
            </th>
            <th>
                زمان ثبت سفارش
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>اکبر زمانی</td>
            <td>920,000</td>
            <td>1399/01/05</td>
            <td><a href="#">بررسی سفارش</a></td>
        </tr>
        <tr>
            <td>اکبر زمانی</td>
            <td>920,000</td>
            <td>1399/01/05</td>
            <td><a href="#">بررسی سفارش</a></td>
        </tr>
        <tr>
            <td>اکبر زمانی</td>
            <td>920,000</td>
            <td>1399/01/05</td>
            <td><a href="#">بررسی سفارش</a></td>
        </tr>
        <tr>
            <td>اکبر زمانی</td>
            <td>920,000</td>
            <td>1399/01/05</td>
            <td><a href="#">بررسی سفارش</a></td>
        </tr>
        <tr>
            <td>اکبر زمانی</td>
            <td>920,000</td>
            <td>1399/01/05</td>
            <td><a href="#">بررسی سفارش</a></td>
        </tr>
        <tr>
            <td>اکبر زمانی</td>
            <td>920,000</td>
            <td>1399/01/05</td>
            <td><a href="#">بررسی سفارش</a></td>
        </tr>
        <tr>
            <td>اکبر زمانی</td>
            <td>920,000</td>
            <td>1399/01/05</td>
            <td><a href="#">بررسی سفارش</a></td>
        </tr>
        <tr>
            <td>شاهین ابوالقاسمی</td>
            <td>920,000</td>
            <td>1399/01/05</td>
            <td><a href="#">بررسی سفارش</a></td>
        </tr>

    </tbody>
</table>
{% endblock %}