{% extends 'admin/base.html' %}
{% block content %}
<h2 class="mt-5">مدیریت سفارش ها</h2>
<table class="col table table-striped mt-4 text-center">
    <thead>
        <tr>
            <th>
                نام کاربری
            </th>
            <th>
                مجموع مبلغ
            </th>
            <th>
                زمان ثبت سفارش
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for order in orders%}
        <tr>
            <td>{{ order.customerFirstName }} {{ order.customerLastName }}</td>
            <td>{{ order.amount | format_currency }}</td>
            <td>{{ order.date | jalali_date }}</td>
            <td><a class="order-check" data-product-id="{{ order._id }}" href="#">بررسی سفارش</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="order-check-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">جزئیات سفارش</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">نام مشتری:</li>
                    <li class="list-group-item">آدرس:</li><br>
                    <li class="list-group-item">تلفن:</li>
                    <li class="list-group-item">زمان تحویل:</li>
                    <li class="list-group-item">زمان سفارش:</li>
                </ul>
                <br><br>
                <table class="table table-striped">
                    <thead>
                        <th>#</th>
                        <th>کالا</th>
                        <th>قیمت</th>
                        <th>انبار</th>
                        <th>تعداد</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href="#">روغن سرخ کردنی سمن 1.35 کیلویی</a></td>
                            <td>10,000</td>
                            <td>انبار شماره 1</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><a href="#">کره سنتی شکلی 100 گرمی</a></td>
                            <td>25,500</td>
                            <td>انبار شماره 2</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><a href="#">قهوه اسپرسو بن مانو مدل آرتیمان 250 گرمی</a></td>
                            <td>1,000,000</td>
                            <td>انبار شماره 1</td>
                            <td>500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mx-auto" data-bs-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='admin/orders.js') }}"></script>
{% endblock %}