{% extends 'admin/base.html' %}
{% block content %}
<table class="col table table-striped mt-4">
    <thead>
        <tr>
            <th>
                تصویر
            </th>
            <th>
                نام کالا
            </th>
            <th>
                دسته بندی
            </th>
            <th></th>
        </tr>
    </thead>
    {% for product in products %}
    <tbody>
        <tr>
            <td>{{ product.image }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td><a href="#">ویرایش</a><a href="#"> حذف</a> </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='admin/products.js') }}"></script>
{% endblock %}