{% extends 'admin/base.html' %}
{% block content %}
Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus accusantium aperiam autem corporis culpa dicta dolorum
ex exercitationem fuga, in incidunt nihil numquam officia officiis
quam quasi, reiciendis repudiandae ut!
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='admin/quantities.js') }}"></script>
{% endblock %}