{% extends 'admin/base.html' %}
{% block content %}
<h2 class="mb-3 mt-4">مدیریت موجودی و قیمت ها</h2>
<div class="my-3 text-left">
  <button type="button" class="btn btn-success addQuantity" data-bs-toggle="modal"
    data-bs-target="#addModal">افزودن موجودی</button>
</div>
<table class="col table table-striped mt-4">
  <thead>
    <tr>
      <th>
        انبار
      </th>
      <th>
        کالا
      </th>
      <th>
        قیمت
      </th>
      <th>
        موجودی
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for product in products %}
  {% for warehouse in product.warehouses %}
    <tr data-warehouse-id="{{ warehouse._id }}" data-product-id="{{ product._id }}">
      <td>{{ warehouse.name }}</td>
      <td>{{ product.name }}</td>
      <td>{{ warehouse.price }}</td>
      <td>{{ warehouse.quantity }}</td>
      <td><button type="button" class="btn btn-link editQuantity" data-bs-toggle="modal"
          data-bs-target="#editModal">ویرایش</button>
        <button type="button" class="btn btn-link deleteQuantity" data-bs-toggle="modal"
          data-bs-target="#deleteModal">حذف</button></td>
    </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
  {#            {% endif %}#}
</table>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">افزودن موجودی</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="warehouseName" class="form-label">انبار</label>
            <select class="form-select warehouseName" aria-label="Default select example" id="warehouseName">
              <option selected>انتخاب انبار</option>
              {% for warehouse in warehouses %}
              <option>{{ warehouse.name }}</option>
              {% endfor %}
            </select>
            <label for="productName" class="form-label">نام کالا</label>
            <select class="form-select productName" aria-label="Default select example" id="productName">
              <option>انتخاب کالا</option>
              {% for product in products %}
              <option>{{ product.name }}</option>
              {% endfor %}
            </select>
            <label for="price" class="form-label">قیمت</label>
            <input type="text" class="form-control price" id="price">
            <label for="quantity" class="form-label">موجودی</label>
            <input type="text" class="form-control quantity" id="quantity">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
        <button type="button" class="btn btn-primary saveBtnAdd">ذخیره</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ویرایش موجودی</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="warehouseName" class="form-label">انبار</label>
            <select class="form-select warehouseName" aria-label="Default select example" id="warehouseName">
              <option selected>انتخاب انبار</option>
              {% for warehouse in warehouses %}
              <option>{{ warehouse.name }}</option>
              {% endfor %}
            </select>
            </select>
            <label for="productName" class="form-label">نام کالا</label>
            <input type="text" class="form-control productName" id="productName">
            <label for="price" class="form-label">قیمت</label>
            <input type="text" class="form-control price" id="price">
            <label for="quantity" class="form-label">موجودی</label>
            <input type="text" class="form-control quantity" id="quantity">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
        <button type="button" class="btn btn-primary saveBtnEdit">ذخیره</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">حذف کالا از انبار</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>کالا از انبار حذف شود?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">خیر</button>
        <button type="button" class="btn btn-primary saveBtnDelete">بله</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='admin/quantities.js') }}"></script>
{% endblock %}