{% extends 'admin/base.html' %}
{% block content %}
<table class="col table table-striped mt-4">
    <thead>
        <tr>
            <th>
                انبار
            </th>
            <th>
                کالا
            </th>
            <th>
                قیمت
            </th>
            <th>
                موجودی
            </th>
            <th></th>
        </tr>
    </thead>
    {% for product in products %}
        {% for inventory in product.inventories %}
    <tbody>
        <tr>
            <td>inventory.name</td>
            <td>product.name</td>
            <td>inventory.price</td>
            <td>inventory.quantity</td>
            <td><a href="#">ویرایش</a><a href="#"> حذف</a> </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}