{% extends 'admin/base.html' %}
{% block content %}
<table class="col table table-striped mt-4">
    <thead>
        <tr>
            <th>
                نام انبار
            </th>
            <th></th>
        </tr>
    </thead>
    {% for warehouse in warehouses %}
    <tbody>
        <tr>
            <td>{{ warehouse.name }}</td>
            <td><a href="#">ویرایش</a><a href="#"> حذف</a> </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<!-- Modal -->

{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='admin/warehouses.js') }}"></script>
{% endblock %}