{% extends 'admin/base.html' %} {% block content %}
<h2 class="mt-5">مدیریت انبار ها</h2>
<div class="mb-3 text-right">
  <button
{#    id="addWarehouse"#}
    type="button"
    class="btn btn-success addWarehouse"
    data-bs-toggle="modal"
    data-bs-target="#addModal"
  >
    افزودن انبار
  </button>
</div>
<table class="col table table-striped mt-4">
  <thead>
    <tr>
      <th>نام انبار</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for warehouse in warehouses %}
    <tr data-warehouse-id="{{ warehouse._id }}">
      <td>{{ warehouse.name }}</td>
      <td>
        <button
          type="button"
          class="btn btn-link editWarehouse"
          data-bs-toggle="modal"
          data-bs-target="#editModal"
        >
          ویرایش
        </button>
        <button
          type="button"
          class="btn btn-link deleteWarehouse"
          data-bs-toggle="modal"
          data-bs-target="#deleteModal"
        >
          حذف
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- Add Modal -->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">افزودن انبار</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="warehouseName" class="form-label">نام انبار</label>
            <input type="text" class="form-control" id="warehouseName" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          بستن
        </button>
        <button type="button" class="btn btn-primary saveBtnAdd">
          ذخیره
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ویرایش انبار</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="warehouseName" class="form-label">نام انبار</label>
            <input type="text" class="form-control" id="warehouseName" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          بستن
        </button>
        <button type="button" class="btn btn-primary saveBtnEdit">
          ذخیره
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">حذف انبار</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>انبار حذف شود?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          خیر
        </button>
        <button type="button" class="btn btn-primary saveBtnDelete">
          بله
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %} {{ super() }}
<script src="{{ url_for('static', filename='admin/warehouses.js') }}"></script>
{% endblock %}
